.container > header {
  grid-column: 2 / calc(var(--container-columns) + 1);
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
  background-color: white;
}

/* header-top */

#header-top {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  padding: 16px 48px;
}

#search-bar {
  grid-column: 1 / 4;
  display: flex;
  gap: 16px;
  align-items: center;
}

#search-bar [type="search"] {
  background-color: var(--main-background);
  border: none;
  border-radius: 20px;
  padding: 20px;
  width: 100%;
  height: 40px;
}

#search-bar [type="search"]:focus {
  outline: none;
}

#user-actions {
  grid-column: 4 / 6;
  justify-self: end;
  display: flex;
  align-items: center;
  gap: 30px;
}

#user-actions > span {
  font-weight: bold;
}

/* header-bottom */

#header-bottom {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 16px 48px;
}

#header-bottom #welcome {
  display: flex;
  align-items: center;
  gap: 24px;
}

#header-bottom #welcome #welcome-message div:first-child {
  font-size: 12px;
  font-weight: bold;
}

#header-bottom #welcome #welcome-message div:last-child {
  font-size: 24px;
  font-weight: bold;
}

#header-bottom #action-buttons {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 40px;
}

#header-bottom #action-buttons > button {
  font-size: 18px;
  width: 100px;
  border: none;
  border-radius: 20px;
  color: white;
  background-color: var(--sidebar-background);
  padding:  8px 16px;
}