.container > #sidebar {
  color: white;
  background-color: var(--sidebar-background);

  grid-row: 1 / calc(var(--container-columns) + 1);

  padding: 24px;

  display: grid;
  grid-template-rows: auto auto 1fr;
  gap: 30px;
}

.container > #sidebar > * {
  align-self: start;
}

.menu-item {
  display: flex;
  align-items: center;
  gap: 16px;
  margin: 24px 24px 24px 0;
  cursor: pointer;
}

.brand {
  margin: 0;
}