:root {
  --sidebar-background: #1992d4;
  --container-columns: 6;
  --container-rows: 4;
}

html, body {
  height: 100%;
  font-family: "Roboto", sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  height: 100%;

  display: grid;
  grid-template-columns: repeat(var(--container-columns), 1fr);
  grid-template-rows: repeat(var(--container-rows), 1fr);

}